.App {
}

.header-bar {
  display: flex;
  flex-direction: row;
  background-color: #303AA5;
  padding: 0.5em;
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.header-button {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.peernode {
  display: flex;
  flex-direction: row;
  align-items: center;
}
