.hashblock {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  background-color: #DDFFDD;
  box-shadow: 2px 2px #CCCCCC;
}

.hashblock-bad {
  background-color: #FFDDDD;
}


.hashblock-block {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCCCCC;
  font-family: 'courier';
  font-size: 1.1em;
}

.hashblock-row {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hashstr {
  margin-top: 1.0em;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  background-color: white;
  font-family: 'courier';
  word-wrap: break-word;
}
