.newspaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid #CCCCCC;
  background: url('paper.png');
  box-shadow: 2px 2px #CCCCCC;
  overflow-x: scroll;
  white-space: nowrap;
  font-family: 'IM Fell English SC', serif;
}

.newspaper-title {
  font-size: 5em;
}

.newspaper-date {
  font-size: 2em;
}

.newspaper-content {
  font-size: 2em;
  font-family: courier;
  white-space: normal;
  word-wrap: break-word
}

.newspaper-nomatch {
  border: solid 3px red;
}

.newspaper-match {
  border: solid 1px green;
}

