.peernode {
  display: flex;
  flex-direction: column;
  border: 1px solid #DDDDDD;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
  background-color: #F7F7FF;
  box-shadow: 2px 2px #CCCCCC;
}

.peernode-chain {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.peernode-title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #303AA5; 
}

.peernode-topbar {
  display: flex;
  flex-direction: row;
}
